<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nickname %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :about %>
    <%= f.text_field :more, :size => '40x13' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :confirm_new_password %>
    <%= f.password_field :password_confirmation %>
  </div>

  Administrator? (this option is only in this demo mode of app)<br>
  <table>
    <tr>
      <td><%= f.label 'administrator_true', 'Yes' %></td>
      <td><%= f.radio_button :adminrights, true %></td>
    </tr>

    <tr>
      <td><%= f.label 'administrator_false', 'No' %></td>
      <td><%= f.radio_button :adminrights, false, :checked => true %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
