<% if current_user %>
  <% if can? :destroy, User or current_user.id == @user.id %>
      <h1>Editing User</h1>  
      <%= render 'form', user: @user %>
  <% else %>
    You can only edit your own profile!
  <% end %>
<% else %>
  You are not logged in!
<% end %>
<br><br>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
