<h1>Registered users</h1>
<br>
These people are registered on our site!<br>
<br><br>
<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>About</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.more %></td>
        <% if current_user %>
          <td><%= link_to 'Show', user %></td>
          <% if can? :destroy, User or current_user.id == user.id %>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <% end %>
          <% if can? :destroy, User %>
            <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user %>
<%= link_to 'New user', new_user_path %>
<% end %>
