<p>
  <strong>Nickname:</strong>
  <%= @user.email %><br> 
  <strong>Registered:</strong>
  <i><%= time_ago_in_words @user.created_at %> ago</i><br>
  <strong>Administrator?:</strong>
  <%= @user.adminrights ? "Yes" : "No" %><br> 
  <strong>About:</strong>
  <%= @user.more %>

<table>
  <thead>
    <tr>
      <p>
      <th>Title</th>
      <th>Text</th>
      <th>Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @user.posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= truncate post.text %></td>
        <td><i><%= time_ago_in_words post.created_at %> ago</i>
        <td><%= link_to 'Show', post %></td>
        <% if current_user %>
        <% if current_user.adminrights %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</p>
<% if current_user %>
  <% if can? :promote, User and !@user.adminrights %>
    <%= link_to 'Promote', user_path, method: :post %> |
  <% end %>
  <% if can? :destroy, User or current_user.id == @user.id %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
  <% end %>
<% end %>
<%= link_to 'Back', users_path %>
