<h1>Welcome to the game review website!</h1>

 
Here, you can read the newest game reviews and write your own ones, rate games, comment on them and simply have fun!<br>
<br>

View the posts and comment on them without having to register.<br>
Write your own posts, rate on posts of others, manage comments and see user details as a registered user.<br>
Administrators can edit or delete your post or even account if you don't act nicely!<br>
<br>
