<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text, :size => '60x15' %>
  </div>

  <table>
    <tr>
      <td><%= f.label 'Comments allowed', 'Comments allowed' %></td>
      <td><%= f.radio_button :commstats, 1, :checked => true %></td>
    </tr>

    <tr>
      <td><%= f.label 'Comments need approval', 'Comments need approval' %></td>
      <td><%= f.radio_button :commstats, 2 %></td>
    </tr>

    <tr>
      <td><%= f.label 'Comments not allowed', 'Comments not allowed' %></td>
      <td><%= f.radio_button :commstats, 3 %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
