<% if current_user %>
  <% if current_user.adminrights %> 
    <h1>Editing Post</h1>

    <%= render 'form', post: @post %>
  <% else %>
    Only administrators can edit a post.
  <% end %>
<% else %>
  You are not logged in!
<% end %>
<br><br>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
