<h1>The game reviews</h1>

<br><br>

<% if current_user %>
<%= link_to 'New post', new_post_path %>
<% end %>

<table>
  <thead>
    <tr>
      <p>
      <th>Title</th>
      <th>Text</th>
      <th>Author</th>
      <th>Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= truncate post.text %></td>
        <td><%= link_to post.user.email, post.user %></td>
        <td><i><%= time_ago_in_words post.created_at %> ago</i>
        <td><%= link_to 'Show', post %></td>
        <% if current_user %>
        <% if current_user.adminrights %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>
<% if current_user %>
<%= link_to 'New post', new_post_path %>
<% end %>

<br>
