<%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track" => false %>
<p>
<h1><%= @post.title %></h1><br>
By <%= link_to @post.user.email, @post.user %>
</p>

<p>
<%= @post.text %>
</p>
<br>
<% if current_user %>
What do you think about this game? Rate it!<br>
<div class="row">
  <div class="small-2 large-4 columns">
      Gameplay: <%= rating_for @post, "gameplay", cancel_place: 'right', cancel_hint: 'Cancel this vote!', space: true, targetType: "score", disable_after_rate: false %>
      Graphics: <%= rating_for @post, "graphics", cancel_place: 'right', cancel_hint: 'Cancel this vote!', space: true, targetType: "score", disable_after_rate: false %>
      Story: <%= rating_for @post, "story", cancel_place: 'right', cancel_hint: 'Cancel this vote!', space: true, targetType: "score", disable_after_rate: false %>
      Uniqueness: <%= rating_for @post, "uniqueness", cancel_place: 'right', cancel_hint: 'Cancel this vote!', space: true, targetType: "score", disable_after_rate: false %>
      Addictiveness: <%= rating_for @post, "addictiveness", cancel_place: 'right', cancel_hint: 'Cancel this vote!', space: true, targetType: "score", disable_after_rate: false %>
      (Refresh this page to update)<br>
<br>
  </div>
</div>
<% else %>
Log in to see user rating and rate this game yourself!<br><br>
<% end %>


<%= link_to 'Back', posts_path %>
<% if current_user %>
<% if current_user.adminrights %> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Delete post', @post, :method => :delete, :confirm => 'Are you sure?' %>
<% end %>
<% end %>
<br><br>
<h2>Comments</h2>

<% if @post.approval? %>
  <b>Comments need to be approved by a registered user on this post.</b><br><br>
<% end %>

<% if @post.enabled? %>
  <% @post.comments.each do |comment| %>
    <% if !@post.approval? or comment.shown or current_user %>
      <% if comment.user_email %>
        <b><%= comment.user_email %></b><br>
      <% else %>
        <b><i>Unregistered user</b></i><br>
      <% end %>
      <%= comment.text %><br>
      <i><%= time_ago_in_words comment.created_at %> ago</i><br>
      <% if @post.approval? and !comment.shown %>
        <%= link_to "Approve comment", [@post, comment], method: :post %> | 
      <% end %>
      <% if current_user %>
        <%= link_to "Delete comment", [@post, comment], method: :delete, data: {confirm: "Are you sure?" } %><br>
      <% end %><br>
    <% end %>
  <% end %>
<% else %>
  Comments are disabled on this post.<br><br>
<% end %>

<% if @post.enabled? %>
  <%= form_for [@post, @post.comments.build] do |f| %>
    <p><%= f.text_area :text, :size => '40x10' %></p>
    <% if current_user %>
      <%= f.hidden_field :user_email, value: current_user.email %>
    <% end %>
    <p><%= f.submit "Post comment" %></p>
  <% end %>
<% end %>

