<%= form_tag user_sessions_path, :method => :post do %>
  <div class="field">
    <%= label_tag :nickname %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
<% end %>
