<!DOCTYPE html>
<html>
  <head>
    <title>Own page</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>

  <div id="nav">     
    <% if current_user %>
      Logged in as <%= current_user.email %> |
      <%= link_to "Edit Profile", edit_user_path(current_user.id) %> |
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", :login %>
    <% end %><br>
    <%= link_to "Main page", mainpages_path %> |
    <%= link_to 'Posts', posts_path %> |
    <%= link_to 'Users', users_path %>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <%= yield %>
  <br><br><br>
  Ruby project 2017
  </body>
</html>
